:root {
    --primary-L: #e58aa2;
    --primary-N: #FF016E;
    --primary-S: #800022;
    --primary-XS: #4d001480;
    --primary-XS-O: hsla(344, 100%, 15%, 0.5);
    --secondary-XL: #80eeff;
    --secondary-L: #8ad9e5;
    --secondary-N: #00c2e0;
    --secondary-S: #006f80;
    --secondary-XS: #00424d80;
    --secondary-XS-O: hsla(189, 100%, 15%, 0.5);
    --dark-L: #8b8eb1;
    --dark-N: #0d124a;
    --dark-S: #080b30;
}

@font-face {
    font-family: 'spaceregular';
    src: url('./assets/fonts/space-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/space-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100svh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-N);
    font-family: 'Space Grotesk', 'Inter', sans-serif;
    font-weight: 400;
    color: white;
}

button {
    font-family: 'Space Grotesk', 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

@media (max-width: 480px) {

    
}

/* Global Class */

    .subtitle{
        font-size: 32px;
        margin-top: 16px;
    }

    .body--no--scroll {
        overflow: hidden;
        height: 100vh;
    }


/* Header */
    .header{
        position: relative;
        height: 80px;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--dark-N);
        z-index: 19;
    }

    .header__text{
        display: flex;
        font-size: 16px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-right: 40px;
        z-index: 20;
    }

    .header__text .button__common:hover{
        color: var(--dark-L);
    }

    .header_text.active {
        display: flex;
        z-index: 20
    }

    .hamburger {
        display: none;
        font-size: 2rem;
        cursor: pointer;
        margin-right: 16px;
    }

    .logo{
        margin: 15px 0 0 40px;
        width: 162px;
        height: 70px;
        z-index: 18;
    }

    .menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0,0,0,0.6);
        z-index: 18;
        transition: opacity 300ms ease;
    }

    @media (max-width: 480px) {

        .header{
            height: 60px;
            position: fixed;
        }

        .header__text{
            position: absolute;
            width: 160px;
            top: 60px;
            right: 0;
            background: var(--dark-N);
            border-radius: 16px;
            flex-direction: column;
            text-align: center;
            padding: 1rem 0;
            gap: 8px;
            margin-right: 8px;
        }

        .hamburger {
            display: block;
        }

        .logo{
            margin: 8px 0 0 8px;
            width: 100px;
        }



    }

/* Buttons */
    .button__common {
        padding: 8px 16px;
        font-size: 16px;
        background-color: var(--dark-N);
        border: none;
        color: white;
        transition: color 240ms ease;
        cursor: pointer;
    }

    .button__pink {
        width: 140px;
        height: 40px;
        color: white;
        background-color: var(--primary-N);
        border-radius: 16px;
        font-weight: bold;
        font-size: 16px;
        border: none;
        transition: background-color 240ms ease, color 240ms ease;
    }

    .button__pink:hover{
        cursor: pointer;
        color: var(--dark-N);
        background-color: var(--secondary-N);
    }

    .button__blue {
        width: 140px;
        height: 40px;
        color: white;
        background-color: var(--secondary-N);
        border-radius: 16px;
        font-weight: bold;
        font-size: 16px;
        border: none;
        transition: background-color 240ms ease, color 240ms ease;
    }

    .button__blue:hover{
        cursor: pointer;
        color: var(--dark-N);
        background-color: var(--primary-N);
    }

    @media (max-width: 480px) {

        .button__common {
            padding: 8px 12px;
            font-size: 12px;
        }

        .button__pink {
            width: 100px;
            height: 40px;
            font-size: 12px;
        }


    }

/* Gallery / Carousel */
    .gallery {
        width: 100%;
        height: auto;
        background-image: url(/src/assets/img/carouselbg.svg);
        display: flex;
        padding: 16px;
        margin-top: 4px;
        gap: 16px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .carousel__container {
        width: 100%;
        max-width: 1500px;
        height: 600px;
        margin: 16px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        perspective: 1500px;
    }

    .carousel__cards-wrapper {
        position: relative;
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        transform-style: preserve-3d;
        align-items: center;
    }

    .carousel__card {
        width: 440px;
        height: 100%;
        border-radius: 64px;
        font-family: 'spaceregular', 'Space Grotesk', 'Inter', sans-serif;
        padding: 50px;
        font-size: 64px;
        text-align: center;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        transition: box-shadow 240ms ease, text-shadow 240ms ease
    }

    .card-blue {
        box-shadow: 0 0 35px var(--secondary-XS);

        p {
            color: var(--secondary-XL);
            text-shadow: 0px 0px 8px var(--secondary-S);
        }
    }

    .card-pink {
        box-shadow: 0 0 35px var(--primary-XS) ;

        p {
            color: var(--primary-N);
            text-shadow: 0 0 8px var(--primary-S);
        }
    }

   .card-blue:hover {
        box-shadow: 0 0 35px var(--secondary-N);

        p {
            text-shadow: 0px 0px 5px var(--secondary-N);
        }
    }

    .card-pink:hover {
        box-shadow: 0 0 35px var(--primary-N) ;

        p {
            text-shadow: 0 0 8px var(--primary-N);
        }
    }

    .carousel__arrow {
        background: none;
        border: none;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: var(--secondary-N);
        position: absolute;
        z-index: 10;
        transition: color 240ms ease;
    }

    .carousel__arrow:hover {
        color: var(--primary-N);
        cursor: pointer;
    }

    .left-arrow {
        left: 1%;
    }

    .right-arrow {
        right: 1%;
    }

    .carousel__wave {
        background-image: url(assets/img/carouselbgwave.svg);
        background-repeat: repeat-x;
        width: 100%;
        height: 37px;
        margin-top: -2px;
    }

    .figma {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    @media (max-width: 1000px){
        .gallery {
            background-image: none;
            padding: 8px 0;
            margin-top: 4px;
            gap: 8px 0;
        }

        .carousel__container {
            height: 350px
        }

         .carousel__container::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100px;
            background: 
                linear-gradient(to right, var(--dark-N) 50%, rgba(0,0,0,0) 100%);

            pointer-events: none;
            z-index: 1;
        }

        .carousel__container::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 100px; /* Largura da área de fade */
            
            /* Gradiente sobre a IMAGEM DE FUNDO */
            background: 
                linear-gradient(to left, var(--dark-N) 50%, rgba(0,0,0,0) 100%);
        }

        .carousel__cards-wrapper {
            width: 100%;
            overflow: hidden;
            height: 350px;
            margin: 16px auto;
            perspective: 350px;
        }

        .carousel__card {
            width: 250px;
            height: 350px;
            border-radius: 24px;
            font-size: 40px;
        }

        .carousel__wave {
            background-image: none;
            width: 100%;
            height: 0;
            margin-top: 0;
        }

        .left-arrow {
        left: 6%;
        }

        .right-arrow {
            right: 6%;
        }

    }

    @media (max-width: 768px) {
        .carousel-container {
            max-width: 100%;
            height: 350px;
        }

        .carrousel-card {
            width: 250px;
            height: 300px;
        }

        .carousel-card[style*="scale: 1"] {
            width: 280px;
            height: 330px;
        }

        .left-arrow {
            left: 10px;
        }

        .right-arrow {
            right: 10px;
        }
    }

    @media (max-width: 480px){
        .gallery {
            background-image: none;
            padding: 8px 0;
            margin-top: 4px;
            gap: 8px 0;
        }

        .carousel__container {
            height: 350px
        }

         .carousel__container::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100px;
            background: 
                linear-gradient(to right, var(--dark-N) 50%, rgba(0,0,0,0) 100%);

            pointer-events: none;
            z-index: 1;
        }

        .carousel__container::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 100px; /* Largura da área de fade */
            
            /* Gradiente sobre a IMAGEM DE FUNDO */
            background: 
                linear-gradient(to left, var(--dark-N) 50%, rgba(0,0,0,0) 100%);
        }

        .carousel__cards-wrapper {
            width: 100%;
            overflow: hidden;
            height: 350px;
            margin: 16px auto;
            display: flex;
            align-items: center;
            justify-content: center;
            perspective: 350px;
        }

        .carousel__card {
            width: 250px;
            height: 350px;
            border-radius: 24px;
            font-size: 40px;
        }

        .carousel__wave {
            background-image: none;
            width: 100%;
            height: 0;
            margin-top: 0;
        }

        .WIP {
            margin-top: 60px;
            margin-bottom: -20px;
        }

    }

/* About */

    .about {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 157px;
        padding: 48px 0px;
    }

    .about__container{
        display: flex;
        width: 80%;
        height: auto;
        background-color: var(--dark-L);
        padding: 16px 37px;
        border-radius: 120px 24px;
        color: var(--dark-N);
    }
    
    .about__container-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__text{
        font-family: 'Inter', sans-serif;
        margin: 32px 37px 40px 32px;
        line-height: 27px;
        font-size: 16px;
    }

    .about__container-photo{
            display: flex;
            align-items: center;
    }

    .about__photo{

        border-radius: 120px 24px
    }

    @media (max-width: 1000px){
        .about__photo{
            display: none;
        }
    }

    @media (max-width: 480px){

        .about {
            padding-top: 48px;
        }

        .about__container{
            width: 90%;
            margin: 16px 8px;
            border-radius: 32px 8px;
        }
        
        .about__container-info{
            height: auto;
        }

        .about__text{
            margin: 16px 8px 32px;
            line-height: 25px;
            font-size: 12px;
        }

        .about__photo{
            display: none;
        }

    }

/* Skills */
    .skills {
        background-color: var(--secondary-N);
        width: 100%;
        height: auto;
        padding: 32px 0;
        color: var(--dark-N);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills .subtitle {
        margin-top: 16px;
    }

    .skills__container{
        background-color: var(--secondary-L);
        width: 95%;
        font-size: 24px;
        text-align: center;
        line-height: 80px;
        padding: 24px;
        margin-top: 24px;;
    }

    .skills__container em {
        color: var(--primary-N);
        margin: 0 8px;
    }

    .skills__wave {
        background-image: url(assets/img/skillsbgwave.svg);
        background-repeat: repeat-x;
        width: 100%;
        margin-top: -2px;
        height: 37px;
    }

    @media (max-width: 480px){ 
        .skills {
            height: auto;
            padding: 56px 8px 32px 8px;
        }

        .skills__container{
            width: 95%;
            font-size: 16px;
            text-align: center;
            line-height: 56px;
            padding: 16px;
            margin-top: 16px;;
        }
    }

/* Footer */

    .icons {
        height: 32px;
        width: 32px;
        color: var(--secondary-N);
        margin: 8px;
        transition: color 240ms ease;
    }

    .footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;
    }

    .footer__links-container{
        height: 184px;
        width: 720px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        row-gap: 20px;
        column-gap: 20px;
        align-items: center;
        justify-items: left;
        margin: 8px;
    }

    .footer__links--a{
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        color: var(--primary-N);
        transition: color 240ms ease;
    }

    .footer__links--a:hover{
        color: var(--dark-L);
        .icons {
            color: var(--primary-N);
        }

    }

    .footer__logo{
        width: 300px;
        margin: 40px 0 8px 0;
    }

    @media (max-width: 480px) {
            .icons {
                width: 24px;
                margin: 8px;
            }

            .footer{
                gap: 8px;
            }

            .footer__links-container{
                width: 100%;
                height: auto;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(1, auto);
                justify-items: center;
                row-gap: 16px;
                column-gap: 16px;
                margin: 16px;
            }

            .footer__links--a{
                font-size: 14px;
            }

        
            .footer__2container{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 12px;
                margin: 8px 0 8px 0;
            }

            .footer__logo{
                width: 300px;
            }
    }